@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root{
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: #777;
    --light-white: #fff9;
    --dark-bg: rgba(0,0,0,.7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    --text-shadow: 0 1.5rem 1rem rgba(0,0,0,.3);
}
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background-color: var(--white);
}
html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}


section{
    padding: 5rem 10% ;
}
.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
}

.header{
    position: sticky;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}
.header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}
.header .navbar a:hover{
    color: var(--main-color);
}
#menu-btn{
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}


.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
}
.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: yellow;
    cursor: pointer;
}
.services .box-container .box:hover{
    background: var(--black);
}
.services .box-container .box img{
    height: 7rem;
}
.services .box-container .box h3{
    color: rgb(65, 140, 227);
font-size: 1.7rem;
padding-top: 1rem;
}




/*Below is the footer section stylying*/
.footer{
    background: url(../images/Web-Background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}
.footer .box-container .box h3{
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}
.footer .box-container .box a{
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
}
.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 1.5rem; 
}

.footer .credit{
text-align: center;
padding-top: 3rem;
margin-top: 3rem;
border-top: .1rem solid var(--light-white);
font-size: 2rem;
color: var(--white);
}





















/* media queries */

@media (max-width: 1200px){
    section{
        padding: 3rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
        transition: .2s linear;
    }
    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0,100% 0,100% 0,0 0);
    }
    .header .navbar.active{
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    }

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
    }